body {
    font-family: Montserrat,Arial,sans-serif;
    margin: 0;
}
a {text-decoration: none;}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.colored-blue {color: #045498;}
.colored-white {color: #ffffff;}
.container {width: 89%; margin: auto;}
.cont-main {width: 82%; margin: auto;}
.clear {clear: both;}
nav li {display: inline-block;}
nav a, footer {font-size: 0.9rem;}
#navbar1 li {
    border-left: 1px solid white;
    padding: 0 30px;
}
#navbar1 li:first-child, #navbar1 li:last-child {border: none;}
#navbar1 li:last-child {padding: 0;}
#navbar1 {
    text-align: right;
    padding: 9px 0;
    background: #045498;
}
#navbar1 a:hover {text-decoration: underline;}
#navbar1 input {height: 30px;width: 250px;border-radius: 8px;border: none;background: #fff url("search.png") no-repeat right center;padding-left: 10px;}
#navbar2 li {margin: 0 20px;padding: 19px 0;border-bottom: 3px solid white;border-top: 3px solid white;}
#navbar2 li:hover {border-bottom: 3px solid rgb(156, 6, 6);border-top: 3px solid white;}
#navbar2 {float: right;}
.container a img {height: 58px;}
#headlines img {width: 100%;}
#headlines {background: #58595b;padding-bottom: 1px;}
#headlines h2 {margin: 10px auto;}